@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Asap Condensed', sans-serif;
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    height: 150vh;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.navbar-1 {
    font-family: 'Water Brush', cursive;
    font-size: larger;
}

.navbar-2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
}

h3:hover {
    color: #fff;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 10px;
    height: 250px;
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    color: #fff;
    border-radius: 10px;
    font-size: 25px;
    margin-left: 8vw;
}

.banner button {
    border: 1px black solid;
    background: inherit;
    padding: 10px;
    font-family: inherit;
    border-radius: 50px;
}

.offers {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.offers img {
    width: 100px;
}

.offers h2 {
    font-size: 15px;
    margin-top: 5px;
}

.offer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    margin: 5px;
}