@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Asap Condensed', sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.navbar-2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 10px;
    height: 250px;
}

.banner button {
    border: 1px black solid;
    background: inherit;
    padding: 10px;
}

.offers {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.offers img {
    width: 100px;
}

.offers h2 {
    font-size: 15px;
}

.offer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}